*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    padding: 50px;
    margin: 30px;
}
div.header{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(2,1fr);
}
.align-left{
    margin-left: 200px;
}
h1{
    height: 47px;
    width: 500px;
    font-family: PT Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
    text-transform: uppercase;
}
h2{
    width: 150px;
    height: 27px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}
figure{
    position: relative;
}
h2>p{
     width: 200px;
     height: 87px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 27px;
}
img{
    max-width: 100%;
    width: 300px;
    height: 500px;
}
.title{
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    right: 10px;
    top: 30px;
    text-align: left;
    transform: rotate(90deg);
    text-transform: uppercase;

}
figcaption{
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.team-members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 50px;
}
figure:nth-child(2),figure:nth-child(5){
    padding-top: 40px;
}
footer>p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
}
@media only screen and (max-width:800px){
    div.header{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 75px);
    }
    .team-members{
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    figure:nth-child(2),figure:nth-child(5){
        padding-top: 0;
    }
    figure:nth-child(even){
        padding-top: 35px;
    }
    .align-left{
        margin-left: 0;
    }
}